.App {
  font-family: arial, helvetica, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  width: 300px;
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: 2px solid red;
}
abbr[title] {
  text-decoration: none;
}

.datepicker {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid black;
  cursor: pointer;
}
.datepicker > div {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}
.datepicker > div:nth-child(1) {
  border-right: 1px solid black;
  color: #000000;
}

.calendar {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 2px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  padding: 10px 0;
  border-bottom: 1px solid black;
}

.icons {
  display: flex;
  flex-direction: row;
}

.iconContainer {
  padding: 0 10px;
  cursor: pointer;
}

.month {
  padding: 0 15px;
}

.header {
  height: 30px;
}

.cell {
  border: 1px solid black;
  height: 30px;
  font-size: 16px;
  aspect-ratio: 1/1;
}

.cell.active,
.cell:hover {
  background-color: black;
  color: white;
}

.empty {
  background: red !important;
}
