:root {
  --width: 800px;
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: 2px solid red;
}
abbr[title] {
  text-decoration: none;
}
body {
  font-family: arial, helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calendar {
  text-align: center;
  width: var(--width);
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  padding: 0.25rem 0;
  border: 1px solid black;
  border-bottom: none;
}

.icons {
  display: flex;
  flex-direction: row;
}

.iconContainer {
  padding: 0 10px;
  cursor: pointer;
}

table {
  table-layout: fixed;
  height: calc(var(--width) - 20px);
  width: 100%;
  justify-content: center;
  border: 1px solid black;
}

.cell {
  border: 1px solid black;
  font-size: 16px;
}

.cell.active,
.cell:hover {
  background-color: black;
  color: white;
}

.empty {
  background: red !important;
}
