:root {
  --width: 250px;
  --grey: hsla(129, 0%, 74%, 1);
  --black: hsla(129, 0%, 25%, 1);
  --black50: hsla(0, 0%, 0%, 0.25);
}
* {
  box-sizing: border-box;
}
*:focus {
  /* outline: none; */
}
abbr[title] {
  text-decoration: none;
}
body {
  font-family: arial, helvetica, sans-serif;
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calendar {
  text-align: center;
  width: var(--width);
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 1px 3px 6px var(--black50);
}

.title {
  color: white;
  display: flex;
  background: var(--black);
  padding: 1rem 0;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  border: 1px solid var(--black);
  border-bottom: none;
}

.icons {
  display: flex;
  flex-direction: row;
}

.iconContainer {
  padding: 0 10px;
  cursor: pointer;
}

table {
  table-layout: fixed;
  height: calc(var(--width) - 20px);
  width: 100%;
  justify-content: center;
  border: 1px solid var(--grey);
  border-radius: 0 0 3px 3px;
}

.cell {
  box-shadow: 0 0 2px var(--black);
  font-size: 16px;
  font-weight: bold;
}

.cell.active,
.cell:hover {
  background-color: var(--black);
  color: white;
}

.date-display {
  margin-top: 1rem;
  text-align: center;
  display: block;
  font-weight: bold;
}
